@font-face {
    font-family: "FuturaPT Medium";
    src: local("FuturaPT Medium"), local("FuturaPT-Medium"),
        url(../src/fonts/FuturaPT-Medium.ttf);
}

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

a,
button,
input[type="submit"] {
    border: 0px;
    display: inline-block;
    box-shadow: none;
    background: none;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

/*Скрытие скроллбара на странице*/

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

*,
*::before,
*::after {
    font-family: "FuturaPT Medium";
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 19px;
    line-height: 24px;
    color: #2D2D2D;
}
